<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506946621228-0u5momouvlab8e1ctgnqra08u90rfmqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506946621228-0u5momouvlab8e1ctgnqra08u90rfmqq</string>
	<key>API_KEY</key>
	<string>AIzaSyB1PUZN1PX3p8CkBoYXBYv6-oBfcSgZSmo</string>
	<key>GCM_SENDER_ID</key>
	<string>506946621228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soundMachines.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>soundmachines-1964a</string>
	<key>STORAGE_BUCKET</key>
	<string>soundmachines-1964a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506946621228:ios:9f908a10fa13382ded2689</string>
</dict>
</plist>